# If you have problems installing all these packages, the only necessary
# install to run MaChAmp is allennlp==1.3. The other ones are just specified
# here for reproducibility.

iterative-stratification==0.1.7

# install using anaconda
# torch==1.7.1 //conda install pytorch==1.7.1 cpuonly -c pytorch
# pandas==1.3.5 // conda install pandas==1.3.5
# transformers==4.0.0 // conda install -c conda-forge transformers==4.0.0
# allennlp==1.3 // conda install -c conda-forge allennlp==1.3
# networkx // conda install -c anaconda networkx
# gdown // conda install -c conda-forge gdown